.Header {
    line-height: 100px;
    background: #f2f2f2;

    .inner {
        display: flex;
        justify-content: space-between;

        h1 {
            a {
                display: block;
                font-size: 0;

                img {
                    vertical-align: middle;
                }
            }
        }

        .GlobalGnb {
            &>ul {
                display: flex;
                gap: 30px;

                &>li {
                    position: relative;

                    a {
                        display: block;
                    }

                    ul {
                        display: none;
                        position: absolute;
                        inset: 100px auto auto 50%;
                        transform: translate(-50%, 0);
                        line-height: 40px;
                        background: #f2f2f2;
                        width: 150px;
                        text-align: center;
                        border: 3px solid #ddd;

                        li~li {
                            border-top: 1px solid #ddd;
                        }
                    }

                    &:hover ul {
                        display: block;
                    }
                }
            }
        }
    }
}

.MainSlide {

    .slick-track,
    .slick-list {
        transition-delay: 0.3s;
    }

    .itm {
        position: relative;
        height: 700px;
        color: #fff;

        &.on .inner h2 {
            transform: translate(0, 0);
            opacity: 1;
        }

        &.on .inner p {
            transform: translate(0, 0);
            opacity: 1;
        }

        .inner {
            position: absolute;
            inset: 50% auto auto 50%;
            transform: translate(-50%, -50%);

            text-shadow: 0 0 2px #333;

            h2 {
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 10px;

                transform: translate(0, 30px);
                opacity: 0;
                transition: 0.5s;
            }

            p {
                font-size: 14px;
                margin-bottom: 20px;

                transform: translate(0, 30px);
                opacity: 0;
                transition: 0.5s 0.2s;
            }
        }
    }

    @for $i from 1 to 4 {
        @if ($i==2) {
            .itm0#{$i} .inner {
                color: #333;

                // button {
                //     border-color: #333;
                // }
            }
        }

        .itm0#{$i} {
            background: url(../../public/assets/mainvisual0#{$i}.jpg) no-repeat center center/cover;
        }
    }
}